<!DOCTYPE hmtl>
<html>
  <head>
    <meat charset="utf-8">
    <title>some website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <footer>Copyright {{currentYear}}</footer>
  </body>
</html>